<%= form_with(model: class_type, local: true) do |form| %>
  <% if class_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(class_type.errors.count, "error") %> prohibited this class_type from being saved:</h2>

      <ul>
      <% class_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ClassId %>
    <%= form.number_field :ClassId %>
  </div>

  <div class="field">
    <%= form.label :Period %>
    <%= form.text_field :Period %>
  </div>

  <div class="field">
    <%= form.label :Time %>
    <%= form.text_field :Time %>
  </div>

  <div class="field">
    <%= form.label :animal_id %>
    <%= form.number_field :animal_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
