<p id="notice"><%= notice %></p>

<p>
  <strong>Messageid:</strong>
  <%= @message.MessageId %>
</p>

<p>
  <strong>From:</strong>
  <%= @message.From %>
</p>

<p>
  <strong>To:</strong>
  <%= @message.To %>
</p>

<p>
  <strong>Text:</strong>
  <%= @message.Text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @message.Date %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
