<%= form_with(model: animal, local: true) do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :AnimalId %>
    <%= form.text_field :AnimalId %>
  </div>

  <div class="field">
    <%= form.label :Species %>
    <%= form.text_field :Species %>
  </div>

  <div class="field">
    <%= form.label :Gender %>
    <%= form.text_field :Gender %>
  </div>

  <div class="field">
    <%= form.label :IsAlive %>
    <%= form.text_field :IsAlive %>
  </div>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
