<p id="notice"><%= notice %></p>

<p>
  <strong>Certificateid:</strong>
  <%= @certificate.CertificateId %>
</p>

<p>
  <strong>Name:</strong>
  <%= @certificate.Name %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @certificate.Grade %>
</p>

<p>
  <strong>Description:</strong>
  <%= @certificate.Description %>
</p>

<%= link_to 'Edit', edit_certificate_path(@certificate) %> |
<%= link_to 'Back', certificates_path %>
