<%= form_with(model: trainer, local: true) do |form| %>
  <% if trainer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trainer.errors.count, "error") %> prohibited this trainer from being saved:</h2>

      <ul>
      <% trainer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :TrainerId %>
    <%= form.number_field :TrainerId %>
  </div>

  <div class="field">
    <%= form.label :FirstName %>
    <%= form.text_field :FirstName %>
  </div>

  <div class="field">
    <%= form.label :LastName %>
    <%= form.text_field :LastName %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
