<p id="notice"><%= notice %></p>

<p>
  <strong>Trainerid:</strong>
  <%= @trainer.TrainerId %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @trainer.FirstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @trainer.LastName %>
</p>

<% if @trainer.employee.email.messages.length == 0 %>
  You haven't any messages
<% else %>
<hr>
Your messages:
  <% @trainer.employee.email.messages.each do |message| %>
      <p>
        <strong>From:</strong>
        <%= message.From %>
      </p>
      <p>
        <strong>To:</strong>
        <%= message.To %>
      </p>
      <p>
        <strong>Title:</strong>
        <%= message.Title %>
      </p>
      <p>
        <%= message.Text %>
      </p>
      <hr>
    <% end %>
<% end %>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Send email', new_email_message_path(@trainer.employee.email) %>
<%= link_to 'Back', trainers_path %>
