<p id="notice"><%= notice %></p>

<p>
  <strong>Employerid:</strong>
  <%= @employer.EmployerId %>
</p>

<p>
  <strong>Emailid:</strong>
  <%= @employer.EmailId %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employer.email %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
