<p id="notice"><%= notice %></p>

<p>
  <strong>Subjectid:</strong>
  <%= @subject.SubjectId %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subject.Description %>
</p>

<p>
  <strong>Maxcapacity:</strong>
  <%= @subject.MaxCapacity %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
