<p id="notice"><%= notice %></p>

<p>
  <strong>Classid:</strong>
  <%= @class1.ClassId %>
</p>

<p>
  <strong>Period:</strong>
  <%= @class1.Period %>
</p>

<p>
  <strong>Time:</strong>
  <%= @class1.Time %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @class1.animal %>
</p>

<%= link_to 'Edit', edit_class1_path(@class1) %> |
<%= link_to 'Back', class1s_path %>
