<p id="notice"><%= notice %></p>

<p>
  <strong>Studentd:</strong>
  <%= @student.Studentd %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @student.FirstName %>
</p>

<p>
  <strong>Secondname:</strong>
  <%= @student.SecondName %>
</p>

<p>
  <strong>Schoolteam:</strong>
  <%= @student.SchoolTeam %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @student.DateOfBirth %>
</p>

<p>
  <strong>Points:</strong>
  <%= @student.Points %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @student.Attendance %>
</p>

<p>
  <strong>Emailid:</strong>
  <%= @student.EmailId %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
