<p id="notice"><%= notice %></p>

<p>
  <strong>Studentid:</strong>
  <%= @student.StudentId %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @student.FirstName %>
</p>

<p>
  <strong>Secondname:</strong>
  <%= @student.SecondName %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @student.DateOfBirth %>
</p>

<% if @student.grades.length == 0 %>
  You haven't any grades
<% else %>
  <strong>Grade:</strong>
  <%= @student.grades.each do |grade| %>
  <p>
    <strong>Grade:</strong>
    <%= grade.Grade %>
  </p>
  <p>
    <strong>Subject id:</strong>
    <%= grade.subject.SubjectId %>
  </p>
      <% end %>
<% end %>


<% if @student.email.messages.length == 0 %>
  You haven't any messages
<% else %>
<hr>
Your messages:
  <% @student.email.messages.each do |message| %>
      <p>
        <strong>From:</strong>
        <%= message.From %>
      </p>
      <p>
        <strong>To:</strong>
        <%= message.To %>
      </p>
      <p>
        <strong>Title:</strong>
        <%= message.Title %>
      </p>
      <p>
        <%= message.Text %>
      </p>
      <hr>
    <% end %>
<% end %>
<hr>
<%= link_to 'Send email', new_email_message_path(@student.email) %>
<%= link_to 'Back', students_path %>
