<p id="notice"><%= notice %></p>

<p>
  <strong>Studentid:</strong>
  <%= @student.StudentId %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @student.FirstName %>
</p>

<p>
  <strong>Secondname:</strong>
  <%= @student.SecondName %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @student.DateOfBirth %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @student.grades %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
