<p id="notice"><%= notice %></p>

<p>
  <strong>Teacherid:</strong>
  <%= @teacher.TeacherId %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @teacher.FirstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @teacher.LastName %>
</p>

<p>
  <strong>Title:</strong>
  <%= @teacher.Title %>
</p>

<% if @teacher.employee.email.messages.length == 0 %>
  You haven't any messages
<% else %>
<hr>
Your messages:
  <% @teacher.employee.email.messages.each do |message| %>
      <p>
        <strong>From:</strong>
        <%= message.From %>
      </p>
      <p>
        <strong>To:</strong>
        <%= message.To %>
      </p>
      <p>
        <strong>Title:</strong>
        <%= message.Title %>
      </p>
      <p>
        <%= message.Text %>
      </p>
      <hr>
    <% end %>
<% end %>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
