<p id="notice"><%= notice %></p>

<p>
  <strong>Gradeid:</strong>
  <%= @grade.GradeId %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @grade.Grade %>
</p>

<p>
  <strong>Date:</strong>
  <%= @grade.Date %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
