<p id="notice"><%= notice %></p>

<p>
  <strong>Trainerid:</strong>
  <%= @trainer.TrainerId %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @trainer.FirstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @trainer.LastName %>
</p>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
