<!DOCTYPE html>
<html>
<% if logged_in? %>
  Zalogowany jako <%= current_student.FirstName %>
  <%= link_to "Profil", current_student %>
  <%= link_to "Wyloguj", logout_path, method: :delete %>
<% elsif logged_in_teacher? %>
Zalogowany jako <%= current_teacher.FirstName %>
<%= link_to "Profil", current_teacher %>
<%= link_to "Wyloguj", logout_path, method: :delete %>
<% elsif logged_in_trainer? %>
Zalogowany jako <%= current_trainer.FirstName %>
<%= link_to "Profil", current_teacher %>
<%= link_to "Wyloguj", logout_path, method: :delete %>
<% else %>
  <%= link_to "Zaloguj", login_path %>
<% end %>
<p>
  <a href="/students">Studenci</a>
  <a href="/employees">Pracownicy</a>
  <a href="/animals">Zwierzęta</a>
  <a href="/class_lists">Lista Klas</a>
  <a href="/class_types">Typ Klasy</a>
  <a href="/emails">Email</a>
  <a href="/subjects">Przedmioty</a>
  <a href="/teachers">Nauczyciele</a>
  <a href="/trainers">Trenerzy</a>

</p>
  <head>
    <title>StudentForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
