<!DOCTYPE html>
<html>
<% if logged_in? %>
  Zalogowany jako <%= current_student.FirstName %>
  <%= link_to "Profil", current_student %>
  <%= link_to "Wyloguj", logout_path, method: :delete %>
<% elsif logged_in_teacher? %>
Zalogowany jako <%= current_teacher.FirstName %>
<%= link_to "Profil", current_teacher %>
<%= link_to "Wyloguj", logout_path, method: :delete %>
<% elsif logged_in_trainer? %>
Zalogowany jako <%= current_trainer.FirstName %>
<%= link_to "Profil", current_teacher %>
<%= link_to "Wyloguj", logout_path, method: :delete %>
<% else %>
  <%= link_to "Zaloguj", login_path %>
<% end %>
  <head>
    <title>StudentForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
